// COLORS
$primary-color: #303030;
$secondary-color: #404040;
$button-bg-color: #273895;
$button-color: #ffffff;
$link-color: #2741d0;

// TYPOGRAPHY
$main-font: "Gotham Pro", sans-serif;
$second-font: "Montserrat", sans-serif;
