.about {
  margin-bottom: 187px;
}

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 488px;
  background-image: url("/img/idea.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 465px;
}
