.advantages {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 75px;

  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    width: 100%;
    bottom: -100px;
    margin-top: 0;
  }
}

.advantages-wrapper {
  max-width: 712px;
  padding: 80px 48px 32px 48px;
  background: #f4f7fa;
  box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    padding: 32px;
    padding-top: 0;
  }
}
.advantages-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.advantages-item {
  position: relative;
  font-weight: bold;
  padding-right: 10px;
  font-size: 16px;
  line-height: 162%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:first-child::before {
    background-image: url("/img/icons/time24.svg");
    width: 50px;
    height: 50px;
    top: -50px;
  }

  &:nth-child(2)::before {
    background-image: url("/img/icons/multiple.png");
    width: 52px;
    height: 42px;
    top: -50px;
  }

  &:nth-child(3)::before {
    background-image: url("/img/icons/bonuses.png");
    width: 55px;
    height: 42px;
    top: -50px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 90px;

    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      top: 30px;
      left: calc(50% - 26px);
    }
  }
}
