.benefits {
  margin-bottom: 144px;
}

.benefits__container {
  padding: 0 148px;
}

.benefits-title {
  margin-bottom: 31px;
}

.benefits-cards {
  display: flex;
  align-items: flex-start;
}

.benefits-card {
  position: relative;
  max-width: 344px;
  padding: 167px 32px 32px 32px;
  background: #ffffff;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.benefits-card__bussines.benefits-card::before {
  background-image: url("/img/team.png");
}

.benefits-card__startup.benefits-card::before {
  background-image: url("/img/startup.png");
}

.benefits-card__personal.benefits-card::before {
  background-image: url("/img/family.png");
}

.benefits-card__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.benefits-card__desc {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: $secondary-color;
}
