body {
  font-family: $main-font;
  font-weight: normal;
  color: $primary-color;
  background: #f4f7fa;
}

body.lock {
  overflow: hidden;
}

::selection {
  color: $button-color;
  background-color: $link-color;
}
