.main-title {
  width: 735px;
  font-weight: bold;
  font-size: 48px;
  line-height: 115%;
  color: #262626;
  margin-bottom: 16px;
  margin-top: 30px;
}

.main-title__desc {
  width: 547px;
  margin-bottom: 32px;
}
