// .top-menu {
// }
.top-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.top-menu__item {
  list-style: none;
}

.top-menu__link {
  margin-right: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $link-color;
  }
}
